<button mat-flat-button routerLink="/coach/students">Back</button>
@if (user) {

  <mat-tab-group [dynamicHeight]="true">
    <mat-tab label="Profile">
      <div class="student-tab-content-div">
        <app-user-profile [user]="user"/>
        <app-user-badges-panel [userId]="user.id" [editable]="false"/>
      </div>
    </mat-tab>
    <mat-tab label="Diets">
      <div class="student-tab-content-div">
        <app-user-diets-panel [userId]="user.id" [editable]="true"/>
      </div>
    </mat-tab>
    <mat-tab label="Training Plans">
      <div class="student-tab-content-div">
        <app-user-training-plans-panel [userId]="user.id" [editable]="true"/>
      </div>

    </mat-tab>
    <mat-tab label="Training Records">
      @defer (on viewport){
        <div class="student-tab-content-div">
          <app-user-training-records-tab [userId]="user.id"/>
        </div>
      } @placeholder (){
        <p>Hola</p>
      }
      <mat-tab label="Meassures Reports">
        <div class="student-tab-content-div">
          <app-user-measures-panel [userId]="user.id" [editable]="true"/>
        </div>
      </mat-tab>
    </mat-tab>
    <mat-tab label="Prizes">
      <div class="student-tab-content-div">
        <app-user-prize-panel [userId]="user.id" [editable]="true"/>
      </div>
    </mat-tab>

    <mat-tab label="Achievements">
      <div class="user-home-tab-content-div">
        <app-user-achievements-panel [userId]="user.id"/>
      </div>
    </mat-tab>
  </mat-tab-group>


}
