<button mat-flat-button [routerLink]="['../../']">Back</button>
@for (foodGroup of foodGroups; track $index) {
  <mat-divider/>
    <div class="diet-food-div">
      <h3>{{foodGroup.foodGroupName}}</h3>
      <div>
        @for (food of foodGroup.foodGroupFoodInfos; track $index) {
          <div class="diet-food-div">
            @if (editable()) {
              <button mat-icon-button (click)="deleteFoodFromFoodGroup(food.id)"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button (click)="editFoodGroupFood(food)"><mat-icon>edit</mat-icon></button>
            }
            <h5>{{food.foodName}}</h5>
            <p>{{food.foodAmount}} grams</p>
          </div>
        }
        @if (editable()) {
          <button mat-raised-button (click)="openAddFoodDialog({foodGroupId: foodGroup.foodGroupId})">add food</button>
        }
      </div>

    </div>
    <mat-divider/>

}
