<button mat-flat-button [routerLink]="['../../']">Back</button>
@if (editable()) {
  <button mat-stroked-button (click)="hideEdition.set(!hideEdition())">{{ hideEdition() ? 'Show Edition' : 'Hide Edition' }}</button>
}
@if (dietContent) {
  <h2>{{dietContent.dietName}}</h2>
  <h3>must drink {{dietContent.waterAmount}}L of water daily</h3>
  @for (foodGroup of dietContent.dietFoodGroupInfos; track $index) {
    <mat-divider/>
    <div class="diet-food-div">
      <div class="diet-food-div">
        @if (editable() && !hideEdition()) {
          <button mat-icon-button (click)="deleteFoodGroupFromDiet(foodGroup.id)"><mat-icon>delete</mat-icon></button>
        }
        <h3>{{foodGroup.foodGroupName}}</h3>

      </div>
      <div class="diet-food-div">
        @if (editable() && !hideEdition()) {
          <button mat-icon-button (click)="editDietFoodGroup(foodGroup)"><mat-icon>edit</mat-icon></button>
        }
        <h3>{{foodGroup.foodGroupTime }}</h3>
      </div>

      <div>
        @for (food of foodGroup.foodGroupFoodInfos; track $index) {
          <div class="diet-food-div">
            @if (editable() && !hideEdition()) {
              <button mat-icon-button (click)="deleteFoodFromFoodGroup(food.id)"><mat-icon>delete</mat-icon></button>
            }
            <h5>{{food.foodName}}</h5>

            <p>{{food.foodAmount}} grams</p>
            @if (editable() && !hideEdition()) {
              <button mat-icon-button (click)="editFoodGroupFood(food)"><mat-icon>edit</mat-icon></button>
            }
          </div>
        }
        @if (editable() && !hideEdition()) {
          <button mat-raised-button (click)="openAddFoodDialog({foodGroupId: foodGroup.foodGroupId})">add food</button>
        }
      </div>

    </div>
    <mat-divider/>

  }
}

@if (editable() && !hideEdition()) {
  <button mat-raised-button (click)="openAddFoodGroupToDietDialog({dietId: dietId()})">Add Food Group</button>
}

