<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>exercise Name</mat-label>
    <mat-select [formControl]="addExerciseForm.controls.exerciseName">
      @for (exercise of exercises; track $index){
        <mat-option [value]="exercise.exerciseName">
          {{exercise.exerciseName}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>exercise Effort %</mat-label>
    <input matInput type="number" [formControl]="addExerciseForm.controls.exerciseEffort">
  </mat-form-field>
  <button mat-raised-button (click)="addExerciseToRoutine()">Add</button>
</mat-dialog-content>
