<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Skin Folds</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Triceps</div>
        <div matListItemLine>{{ISAKMeasures().tricepsMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Sub Scapular</div>
        <div matListItemLine>{{ISAKMeasures().subscapularMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Biceps</div>
        <div matListItemLine>{{ISAKMeasures().bicepsMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Iliac</div>
        <div matListItemLine>{{ISAKMeasures().iliacCrestMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Supra Spinal</div>
        <div matListItemLine>{{ISAKMeasures().supraespinalMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Abdominal</div>
        <div matListItemLine>{{ISAKMeasures().abdominalMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Front Thigh</div>
        <div matListItemLine>{{ISAKMeasures().frontThighMm}} mm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Medial Calf</div>
        <div matListItemLine>{{ISAKMeasures().medialCalfMm}} mm</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Perimeters</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Relaxed Arm</div>
        <div matListItemLine>{{ISAKMeasures().relaxedArmCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Flexed Arm</div>
        <div matListItemLine>{{ISAKMeasures().flexedArmCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Waist</div>
        <div matListItemLine>{{ISAKMeasures().waistCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Hip</div>
        <div matListItemLine>{{ISAKMeasures().hipCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Mid Thigh</div>
        <div matListItemLine>{{ISAKMeasures().midThighCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Calf</div>
        <div matListItemLine>{{ISAKMeasures().calfCm}} cm</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Diameters</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Wrist</div>
        <div matListItemLine>{{ISAKMeasures().wristDiameterCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Elbow</div>
        <div matListItemLine>{{ISAKMeasures().elbowDiameterCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Knee</div>
        <div matListItemLine>{{ISAKMeasures().kneeDiameterCm}} cm</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Other Measures</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>Weight</div>
        <div matListItemLine>{{ISAKMeasures().weightKg}} Kg</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Total Height</div>
        <div matListItemLine>{{ISAKMeasures().elbowDiameterCm}} m</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Wingspan</div>
        <div matListItemLine>{{ISAKMeasures().kneeDiameterCm}} cm</div>
      </mat-list-item>
      <mat-list-item>
        <div matListItemTitle>Foot Length</div>
        <div matListItemLine>{{ISAKMeasures().footLengthCm}} cm</div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>


