@if (editable() && (creating() || editing())){
  @if (editing()) {
    <h2>In Editing Mode we load the measures chose to edit</h2>
  } @else if (creating()) {
    <h2>In Creating Mode we load the last measures taken</h2>
  }
  <h5>Skin Folds (mm)</h5>
  <div class="measures-form">
    <mat-form-field appearance="outline">
      <mat-label>
        Triceps
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.tricepsMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Biceps
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.bicepsMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Sub Scapular
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.subscapularMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Iliac
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.iliacMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Supra Spinal
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.supraespinalMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Abdominal
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.abdominalMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Front Thigh
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.frontThighMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Medial Calf
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.medialCalfMmSkinfold" matInput type="number" min="0" >
    </mat-form-field>
  </div>
  <h5>Perimeters(cm)</h5>
  <div class="measures-form">
    <mat-form-field appearance="outline">
      <mat-label>
        Relaxed Arm
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.relaxedArmCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Flexed Arm
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.flexedArmCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Waist
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.waistCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Hip
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.hipCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Mid Thigh
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.midThighCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Calf
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.calfCmPerimeter" matInput type="number" min="0" >
    </mat-form-field>
  </div>
  <h5>Bone Diameters (cm)</h5>
  <div class="measures-form">
    <mat-form-field appearance="outline">
      <mat-label>
        Wrist
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.wristCmDiameter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Elbow
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.elbowCmDiameter" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Knee
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.kneeCmDiameter" matInput type="number" min="0" >
    </mat-form-field>
  </div>
  <h5>Other Measures</h5>
  <div class="measures-form">
    <mat-form-field appearance="outline">
      <mat-label>
        Weight (Kg)
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.weightKgMeasure" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Total Height (Mt)
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.totalHeightMtsMeasure" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Foot Length (cm)
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.footLengthCmMeasure" matInput type="number" min="0" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>
        Wingspan (cm)
      </mat-label>
      <input [formControl]="addMeasuresForm.controls.wingspanCmMeasure" matInput type="number" min="0" >
    </mat-form-field>

  </div>
  @if (editing()) {
    <button mat-flat-button (click)="updateMeasureReport()">Update Report</button>
  } @else if (creating()) {
    <button mat-flat-button (click)="createMeasureReport()">Add Report</button>
  }
  <button mat-stroked-button (click)="creating.set(false); editing.set(false); measureEditId = 0;">Cancel</button>
} @else if (editable()){
  <button mat-stroked-button (click)="entryCreatingMode()">Create Report</button>
}
@if (userMeasures.length > 0) {

  @if (!creating() && !editing() && !chartView()){
    <button mat-stroked-button (click)="chartView.set(!chartView())">Toggle View</button>
    <div class="measure-div-display">
      @for (measure of userMeasures; track $index){
        <div>
          <h2>{{measure.measureDate}}</h2>
          <button mat-icon-button (click)="entryEditingMode(measure)"><mat-icon>edit</mat-icon></button>
          <app-user-measures-table [ISAKMeasures]="measure"/>
        </div>
      }
    </div>
  } @else if (!creating() && !editing()){
    <button mat-stroked-button (click)="chartView.set(!chartView())">Toggle View</button>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Skin Folds</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            [yScaleMin]="0.1"
            xAxisLabel="Date"
            yAxisLabel="Skin Fold[mm]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            legendTitle="Skin Folds of"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="skinFoldsChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Perimeters</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            [yScaleMin]="15"
            xAxisLabel="Date"
            yAxisLabel="Perimeter[cm]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            legendTitle="Perimeters of"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="perimetersChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Diameters</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            [yScaleMin]="1"
            xAxisLabel="Date"
            yAxisLabel="Diameter [cm]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            legendTitle="Diameters of"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="diametersChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Lengths Measures</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            [yScaleMin]="30"
            xAxisLabel="Date"
            yAxisLabel="Partial Length[cm]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            legendTitle="Body Partial Lengths"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="lengthMeasuresChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Weight Measure</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            xAxisLabel="Date"
            yAxisLabel="Weight[kg]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            legendTitle="Body Weight"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="weightMeasuresChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Height Measure</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="chart-div">
          <ngx-charts-line-chart
            [autoScale]="true"
            xAxisLabel="Date"
            yAxisLabel="Height[m]"
            [legendPosition]="LegendPosition.Below"
            [showGridLines]="true"
            [legend]="true"
            [showRefLabels]="true"
            [yScaleMin]="0.1"
            [yScaleMax]="3"
            legendTitle="Total Height"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [results]="heightMeasuresChartData"
          >
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  }
} @else {
  <p>no measures submit yet </p>
}

