
<button mat-raised-button (click)="refreshRecords()">Reload</button>
<button mat-raised-button (click)="loadTableView()">Change View</button>
@if (chartView()){
  <p-chart type="line" [data]="data" [options]="options" class="h-[30rem]" />
} @else {
  <mat-form-field appearance="outline">
    <mat-label>Date filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="YYYY-MM-DD" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="weightLifted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let row"> {{row.weightLifted}} </td>
      </ng-container>

      <ng-container matColumnDef="repetitionsMade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Repetitions </th>
        <td mat-cell *matCellDef="let row"> {{row.repetitionsMade}} </td>
      </ng-container>
      <ng-container matColumnDef="recordDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let row"> {{row.recordDate | date }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="deleteRecord(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the date "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator  [pageSizeOptions]="[5, 10, 15, 20]" ></mat-paginator>
  </div>
}
