<button mat-flat-button (click)="OpenCreateNewPrizeDialog()">Add Prize</button>
@for (prize of prizes; track $index){
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="'data:image/png;base64,' + prize.prizeImage" width="64" height="64" alt="prize">
      </div>
      <mat-card-title>{{prize.prizeName}}</mat-card-title>
      <mat-card-subtitle>{{prize.points}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="openUpdatePrizeDialog(prize)">Edit Prize</button>
    </mat-card-actions>

  </mat-card>
}
