<button mat-flat-button [routerLink]="['../../']">Back</button>
@if (trainingPlan){

  @if (editable()) {
    <button mat-stroked-button (click)="hideEdition.set(!hideEdition())" >{{ hideEdition() ? 'Show Edition' : 'Hide Edition' }}</button>

  }
  @if (editable() && !hideEdition()){
    <button mat-stroked-button (click)="openAddRoutineDialog({trainingPlanId: trainingPlanId()})">Add Routine</button>
  }
  <div class="routines-div">
    @for (routine of trainingPlan.routineResponses; track $index) {
    <div>
      <div class="row-div">
        <h3>{{routine.routineName}}</h3>
        @if (editable() && !hideEdition()){
          <button mat-icon-button (click)="deleteRoutineFromTrainingPlan(routine.id)"><mat-icon>delete</mat-icon></button>

        }
      </div>
      <div class="row-div">
        <h3>{{routine.routineWeekDay}}</h3>
        @if (editable() && !hideEdition()){
          <button mat-icon-button (click)="openEditRoutineDialog(routine)"><mat-icon>edit</mat-icon></button>
        }
      </div>
      <mat-accordion>
        @for (exercise of routine.routineExerciseContent; track $index) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <div class="row-div">
              <h4>{{exercise.exerciseName}}</h4>
              @if (editable() && !hideEdition()){
                <button mat-icon-button (click)="deleteExerciseFromRoutine(exercise.id)"><mat-icon>delete</mat-icon></button>
              }

            </div>
          </mat-expansion-panel-header>
          <div (click)="(editable() && !hideEdition()) ? openSetActionsDialog(exercise) : null">
            <h4>Effort: {{exercise.effort}}%</h4>
            <h3>{{exercise.exerciseSetContent.length}} Sets</h3>

              <div class="row-div">
                @for (set of exercise.exerciseSetContent; track $index){
                <h5>{{set.repetitions}}</h5>
                }
              </div>
              <div class="row-div">
                @for (set of exercise.exerciseSetContent; track $index){
                <h5>{{set.weight}}Kg</h5>
                }
              </div>
          </div>
        </mat-expansion-panel>
        }
      </mat-accordion>
      @if (editable() && !hideEdition()){
        <button mat-stroked-button (click)="openAddExerciseDialog({routineId: routine.routineId})">Add Exercise</button>
      }

    </div>
  }

  </div>
}
