@if (trainingPlan){
  <div class="row-div">
  @for (routine of trainingPlan.routineResponses; track $index) {
    <div>
      <div class="row-div">
        <h3>{{routine.routineName}}</h3>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
      <h3>{{routine.routineWeekDay}}</h3>
      <mat-accordion>
        @for (exercise of routine.routineExerciseContent; track $index) {
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <h4>{{exercise.exerciseName}}</h4>
          </mat-expansion-panel-header>
          <h3>{{exercise.exerciseSetContent.length}} Sets</h3>
          @for (set of exercise.exerciseSetContent; track $index){
            <div class="row-div">
              <h5>{{set.repetitions}} reps</h5>
            </div>
            <div class="row-div">
              <h5>{{set.weight}}Kg</h5>
            </div>
          }
        </mat-expansion-panel>
        }
      </mat-accordion>

    </div>
  }
    <button mat-icon-button><mat-icon>add</mat-icon></button>
  </div>
}
