.row-div {
  display: flex;
  flex-direction: row;
  place-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.routines-div {
  display: flex;
  flex-direction: row;
  place-content: start;
  gap: 1rem;
}
