@if (editable()){
  <button mat-flat-button (click)="openAddRecordDialog({userId: userId()})">New Record</button>
}
<mat-form-field appearance="outline">
  <mat-label>Exercise Name</mat-label>
  <mat-select [formControl]="exerciseForm" multiple>
    @for (exercise of exerciseBasicData; track $index){
      <mat-option [value]="exercise.id">{{exercise.exerciseName}}</mat-option>
    }
  </mat-select>
</mat-form-field>
@if (exerciseForm.value){
  <app-user-training-records-tab [userId]="userId()" [exerciseId]="exerciseForm.value"/>
}

